*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	margin:auto;
	width:90%;
	margin-top:40px;
	
}
.counter-sec{
	margin:30px 0;
}
.row{
	display:flex;
}
.col{
	width:50%;
}
.col img{
     width:90%;
}
.box-row{
	display:flex;
	flex-wrap:wrap;
}
.box-col{
	width:50%;
}
.service-card{
	margin:30px;
}
.kr i{
	position:relative;
	right:60px;
	top:50px;
	font-size:40px;
	color:#f5e342;	
}
.about {
	background-color:#426cf5;
}
.container{ 
	display:flex;
	gap:5%;
}
.cal1{
     margin:auto;
	 width;100%;
}
.row1{
	  width:50%;
}
.box1 .card{
	width:50%;
}
.box1{
	display:flex;
	flex-wrap:wrap;
}
.row1 {
     padding-top:50px;
}
.col1 {
	padding-top:50px;
}
.rk {
	padding:20px;
}
.two{
	padding-top:20px;	
	padding-left:20px;
	
}
	
	


